body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 15;
  line-height: 1.6;
  font-style: normal; 
  font-weight: normal;
  
}

p,
h1,
h2,
h3,
h4,
ul{
  margin: 0;
  padding: 0;

 
}

li{
  list-style-type: none;
  
}

.container{
  font-style: normal;
  font-weight: normal;
  display: flex;
    flex-direction: row-reverse;
    width: 1200px; 
    background: #fff;
    margin: auto;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
   
}

.main-section {
  padding:  20px 345px 100px 90px ;
}
.about-me__profession,
.my-education-item:first-child{
  margin-bottom: 20;
  
  
}
.about-me__name{
  color: #000;
   margin-bottom: 20px;
}
.about-me__description ,
.my-projects-section{
  margin-bottom: 40px;
}

.my-projects__item:not(:last-child){
  margin-bottom: 15;
}

.my-project-link {
  font-weight: bold;
  color:#FF6347;
}

.my-work-experience-section {
  padding: 0 110px 0 0;
  margin-bottom: 50px; 
}

.my-work-experience-company-block:not(:last-child) {
  margin-bottom: 25px;
}
.my-work-experience-position,
.my-education {
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 5px;
}
.my-work-experience-company {
  color: #FF6347;
  margin-bottom: 5px;
}
.my-work-experience-period {
  margin-bottom: 10px;
}
.my-work-experience-duties {
  padding-left: 25px;
}
.my-work-experience-duty {
  list-style-type: disc;
  color: #FF6347;
}
.my-work-experience-text{
   color:#000;
}
.my-work-experience-divider {
  font-weight: bold;
}
.my-education-section {
  margin-bottom: 30;
  
  
}
.my-education {
  color:#FF6347;
}
.my-education-experience-period {
  line-height: 1;
}
.my-education-program{
  margin-bottom: 8;

}
.main-content-title {
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.08;
  margin-bottom: 20px;
  
}

/* sidebar */
.sidebar-section {
  background: #2F4F4F;
  width: 370px;
  padding: 40px 0;
}

.contact-section,
.tech-skills-section,
.soft-skills-section,
.languages-section,
.methodology-section {
  margin: 40px 0 0 40px;
}
.sidebar-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.23;
  color: #FF6347;
  margin-bottom: 10px;
}

.contact-section-link {
  color: 	#fff;
  font-style: normal
}
.contact-section-link:hover {
  color:#FF6347;
}

.sidebar-list {
  padding: 0 0 0 18px;
}
.sidebar-item {
   list-style-type: disc;
  color: #FF6347;
}

.sidebar-item-text {
  color: 	#fff;
}